@model ASP_Forum.Models.Topic

<h1>@Model.Name</h1><br />
<table width="100%" border="1">
    <tr>
        <td width="20%">@Model.UserName</td>
        <td width="80%">@Model.Body</td>
    </tr>
</table>
<br />
<table border="1" width="100%">
    @foreach (var reply in ViewBag.Replies)
	{
		 <tr>
             <td width="20%" valign="top">@reply.UserName</td>
             <td width="80%">@reply.ReplyBody</td>
         </tr>
	}
</table><br />
<a href="/Home/CreateReply/@Model.Id">Ответить</a><br />